.card_container {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

img {
    
    width: 200px;
    height: 200px;
}

h2 {
    align-items: center;
}

p {
    align-items: center;
}